<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Esri_Telecom_Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Device and Port class names -->
    <!-- These should be equal length, and ordered according to their relationship -->
    <!-- to each other. i.e., the first device class name should go with the first port table name -->
    <add key="DEVICE_CLASSNAMES" value="DIGITALLOOPCARRIER,DIGITALCROSSCONNECT,FIBERINTERCONNECT,MULTIPLEXER,OPTICALREPEATER,PATCHPANEL,SPLITTER"/>
    <add key="PORT_TABLENAMES" value="DLCPORT,DXCPORT,FICPORT,MUXPORT,OPTRPTRPORT,PATCHPANELPORT,SPLITTERPORT"/>
    <!-- End Device and Port class names -->
    <!-- ObjectClass names -->
    <add key="CopperCable_FeatureClassName" value="CopperCable"/>
    <add key="FiberCable_FeatureClassName" value="FiberCable"/>
    <add key="SpliceClosure_FeatureClassName" value="SpliceClosure"/>
    <add key="Conduit_FeatureClassName" value="Conduit"/>
    <add key="Pole_FeatureClassName" value="Pole"/>
    <add key="Terminal_FeatureClassName" value="Terminal"/>
    <!-- End ObjectClass names -->
    <!-- Table names -->
    <add key="BufferTube_TableName" value="BufferTube"/>
    <add key="Fiber_TableName" value="Fiber"/>
    <add key="FiberSplice_TableName" value="FiberSplice"/>
    <add key="DynamicValues_TableName" value="DynamicValue"/>
    <!-- End Table names -->
    <!-- RelationshipClass names -->
    <add key="CableToBufferRelationshipClass" value="FiberCableHasBufferTube"/>
    <add key="CableToFiberRelationshipClass" value="FiberCableHasFiber"/>
    <add key="CableToMaintLoopRelationshipClass" value="FiberCableHasMaintLoop"/>
    <add key="BufferToFiberRelationshipClass" value="BufferTubeHasFiber"/>
    <add key="SpliceClosureToSpliceRelationshipClass" value="SpliceClosureHasSplices"/>
    <add key="PoleToAttachmentRelClassName" value="PoleHasAttachment"/>
    <add key="TerminalHasLocationRelClassName" value="TerminalHasLocation"/>
    <add key="BufferTubeToFiberRelClassName" value="BufferTubeHasFiber"/>
    <!-- End RelationshipClass names -->
    <!-- Generic Field Names -->
    <add key="IPID" value="IPID"/>
    <!-- End Field Names -->
    <!-- Field Names (key is tablename_fieldname) -->
    <add key="FiberCable_NumberOfBuffers" value="NumberOfBuffers"/>
    <add key="FiberCable_NumberOfFibers" value="NumberOfFibers"/>
    <add key="Fiber_FiberNumber" value="FiberNumber"/>
    <add key="Fiber_FiberColor" value="FiberColor"/>
    <!--add key="Fiber_SpliceClosureIPID" value="SPLICECLOSUREIPID" /-->
    <add key="Fiber_ContainingCable" value="CABLEIDFKEY"/>
    <add key="FiberSplice_ACableID" value="ASEGMENTIDFKEY"/>
    <add key="FiberSplice_BCableID" value="BSEGMENTIDFKEY"/>
    <add key="FiberSplice_AFromEnd" value="ISAFROMEND"/>
    <add key="FiberSplice_BFromEnd" value="ISBFROMEND"/>
    <add key="FiberSplice_AFiberNumber" value="AFIBERNUMBER"/>
    <add key="FiberSplice_BFiberNumber" value="BFIBERNUMBER"/>
    <add key="FiberSplice_SpliceClosureIPID" value="SPLICECLOSUREIPID"/>
    <add key="FiberSplice_Loss" value="LOSS"/>
    <add key="FiberSplice_Type" value="TYPE"/>
    <add key="Devices_InputPorts" value="INPUTPORTS"/>
    <add key="Devices_OutputPorts" value="OUTPUTPORTS"/>
    <add key="Ports_PortID" value="PORTID"/>
    <add key="Ports_PortType" value="PORTTYPE"/>
    <add key="Ports_ConnectedCableID" value="CABLEIDFKEY"/>
    <add key="Ports_ConnectedFromEnd" value="ISFROMEND"/>
    <add key="Ports_ConnectedFiberNumber" value="FIBERNUMBER"/>
    <!-- End Field Names -->
    <!-- Functional options -->
    <add key="SplitFiberCable_SpliceType" value="PassThru"/>
    <!-- if FiberSplice.TYPE uses a coded value domain, specify the name here, not the coded value -->
    <add key="DynamicValues_EnabledOnStartUp" value="true"/>
    <add key="DynamicValues_NonFeatureTables" value="DUCT,INNERDUCT,ATTACHMENT,BUFFERTUBE,DLCPORT,DXCPORT,FIBER,FIBERSPLICE,FICPORT,LOCATION,MAINTENANCELOOP,MUXPORT,OPTRPTRPORT,PATCHPANELPORT,SPLITTERPORT"/>
    <!-- End Functional options -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  
  
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
